
@media (max-width: 1201px) {
  #hero .hero--group__circle {
    margin-left: 150px;
  }

  #app .app img {
    margin: 20px 30px;
  }

  #discover .discover .discover--block__monkey {
    width: 250px;
    height: 421px;
  }

  #collection .collection {
    justify-content: center;
    &--block{
      margin: 20px 50px;
    }
  }

  #get .get--accordion details summary p {
    font-size: 15px;
  }


}

@media (max-width: 1024px) {
  #header{
    .navbar--input {
      width: 240px;
    }
    .navbar--nav a {
      padding: 0 10px;
    }
  }

  #hero{
    .hero--group{
      &__img {
      left: 275px ;
      }

      p{
        font-size: 13px;
      }
    }
  }

  #app .app img {
    margin: 20px 10px;
  }

  #collection .collection--block {
    margin: 20px 10px;
  }

  #contact .contact {
    flex-wrap: wrap;
    &--logo h1 {
      padding-right: 600px;
    }
  }
}

@media (max-width: 992px) {
  #family .family {
    div{
      img{
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  #header{
    .navbar{
      &--input{
        display: none;
      }

      .open-burger-menu{
        display: block;
      }

      &--nav{
        display: none;
      }

      &--icon{
        display:none ;
      }
    }
  }

  #hero .hero--block div{
    justify-content: center;
    padding: 10px 0;
    h1 {
      font-size: 66px;
    }
  }

  #hero .hero--group {
    padding: 0 0;
    flex-direction: column;
    &__p1{
      padding-top: 0;
    }

    &__img{
      width: 50%;
      left: 126px;
      top: 100px;
    }

    &__circle {
      margin-left: 250px;
      width: 300px;
      height: 490px
    }
  }

  #foremost {
    padding: 0 0;
  }

  #discover .discover .discover--block {
    justify-content: center;

    &__monkey{
      margin: 20px 30px;
    }
  }

  #collection{
    padding: 0 0;
    .collection--block {
    margin: 20px 5px;
    width: 330px;
  }
  }

  #get {
    padding: 0 0;
  }

  #contact{
    padding: 40px 0;
    .contact--logo h1 {
      padding-right: 400px;
  }
    .contact--block h2 {
      font-size: 26px;
    }

    .contact--group{
      h2 {
        font-size: 26px;
        padding-top: 10px;

    }
      div{
        margin-top: 20px;
       input{
         width: 180px;
       }
     }
    }
  }

  #footer .footer--block div {
    margin: 0 6px;
  }




}

@media (max-width: 576px) {
  #hero .hero--block div {
    align-items: center;

    h1 {
      font-size: 40px;
    }

    img {
      width: 50%;
    }
  }

  #hero .hero--group__circle {
    margin-left: 220px;
    width: 250px;
    height: 382px;
  }

  #foremost .foremost .swiper-slide div {
    h1 {
      font-size: 16px;
    }

    p {
      font-size: 10px;
    }

  }

  #discover .discover .discover--block__monkey {
    width: 230px;
    height: 392px;
    margin: 10px 10px;
  }

  #collection .collection {
    padding-top: 10px;

    &--block {
      margin: 10px 5px;
      width: 80%;
    }
  }

  #get .get--accordion details{
    summary{
      h1{
        font-size: 23px;
      }

      p {
        font-size: 10px;
      }
    }
  }

  #contact{
    .contact--logo h1 {
      padding-right: 260px;
      font-size: 55px;
      span{
        font-size: 40px;
      }
    }

    .contact--block h2 {
      font-size: 20px;
    }

    .contact--group h2 {
      font-size: 20px;
      padding-top: 7px;
    }
  }

    #footer .footer p {
      font-size: 10px;
    }

}

@media (max-width: 451px) {
  #hero h3 {
    font-size: 14px;
    padding-top: 132px;
  }

  #hero {
    .hero {
      &--block div {
        img {
          width: 40%;
          margin: 0 10px;
        }

        h1 {
          font-size: 33px;
        }
      }

      &--group__circle {
        margin-left: 150px;
        width: 180px;
        height: 280px;
        padding-top: 20px;
      }

      &--group__img {
        left: 76px;
        top: 130px;
      }

      .hero--group__p1 p{
        padding-top: 10px;
      }

      .hero--group__p {
        padding-top: 50px;
        padding-bottom: 25px;
        display: flex;
      }
    }

  }

  #foremost .foremost .swiper-slide div button {
    width: 41px;
    height: 22px;
    font-size: 9px;
  }

  #app .app img {
    margin: 10px 0px;
    width: 28%;
  }

  #discover{
    .discover{
      .discover--group{
        input {
          width: 200px;
          font-size: 18px;
          height: 50px;
        }

        button {
          width: 140px;
          height: 50px;
          font-size: 18px;
        }
      }
      .discover--block__monkey {
        width: 315px;
        height: 470px;
      }
    }
  }

  #collection .collection--block {
    width: 90%;
  }

  #family {
    padding: 50px 0;
  }

  #get .get--accordion details{
    summary{
     div{
       img{
         width: 30%;
       }

       h2{
         font-size: 14px;
         padding-top: 8px;
       }
     }

      h1{
        font-size: 14px;
      }

      p {
        font-size: 8px;
      }
    }
  }

  #contact{
    .contact--logo h1{
      padding-right: 117px
    }
    .contact--block h2 {
      padding-top: 10px;
      font-size: 17px;
    }

    .contact--group{
      align-content: space-between;
      align-items: center;
      h2 {
        font-size: 17px;
        line-height: 30px;
        padding-top: 7px;
      }


    }
  }
}



@media (max-width: 400px) {
  #hero .hero--block{
    padding-top: 20px;
    div h1 {
      font-size: 30px;
    }
  }

  #hero .hero--group__circle {
    height: 242px;
  }


  #foremost .foremost .swiper-slide div{
    bottom: 14px;
    h1 {
      font-size: 11px;
    }

    p{
      font-size: 8px;
    }
  }

  #discover .discover .discover--group{
    input {
      width: 170px;
      height: 50px;
      font-size: 15px
    }

    button{
      width: 140px;
      height: 55px;
      font-size: 15px
    }
  }

  #get .get--accordion details{
    summary{

      h1{
        font-size: 12px;
      }

      p {
        font-size: 7px;
      }
    }

    p{
      font-size: 10px;
    }
  }

  #footer .footer--block div {
    width: 22px;
    height: 22px;
  }

}

@media (max-width: 376px) {
  #hero .hero--block {
    padding: 0 0;
  }

  #hero .hero--group__circle {
    margin-left: 120px;
    height: 220px;
  }


  #collection .collection--block {
    width: 100%;

    &__name {
      h2 {
        font-size: 13px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  #family .family div h1 {
    bottom: 25px;
    left: 40px;
    font-size: 30px;
  }
}


@media (max-width: 320px) {
  #hero .hero--block div h1 {
    font-size: 24px;
  }

  #hero .hero--group__circle {
    margin-left: 113px;
    height: 179px;
    width: 140px;
  }

  #hero .hero .hero--group__p1 p {
    padding-top: 22px;
  }

  #foremost .foremost .swiper-slide div{
    bottom: 8px;
    h1 {
      font-size: 9px;
    }

    p{
      font-size: 6px;
    }
  }

  #foremost .foremost .swiper-slide div button {
    width: 30px;
    height: 15px;
    font-size: 9px;
    margin-top: 10px;
  }

  #discover .discover .discover--block__monkey {
    height: 440px;
  }

  #get .get--accordion details summary h1 {
    font-size: 10px;
  }

  #get .get--accordion details summary p {
    font-size: 4px;
  }

  #footer .footer p {
    font-size: 6px;
  }

  #footer .footer--block h1 {
    font-size: 40px;
    padding-right: 4px;
  }
}